* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

body {
  background-color: #d3d3d3;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
}

h2 {
  margin-bottom: 0.5rem;
}

header,
main,
article,
footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px grey;
}

main {
  flex-direction: column;
}

footer {
  flex-direction: row;
  align-items: stretch;
  background-color: #d3d3d3;
}

button {
  flex-grow: 1;
  color: #fff;
  border-radius: 0.2rem;
}

.greenBtn {
  background-color: rgb(32, 187, 32);
}

.greenBtn:hover {
  background-color: rgb(30, 173, 30);
}

.blueBtn {
  background-color: rgb(36, 36, 230);
}

.blueBtn:hover {
  background-color: rgb(34, 34, 212);
}

.redBtn {
  background-color: rgb(211, 27, 27);
}

.redBtn:hover {
  background-color: rgb(190, 25, 25);
}

.container {
  /* border: 1px solid red; */
  margin: 4vh auto;
  max-width: 700px;
  height: 90vh;
  display: grid;
  grid-template-rows: 5fr 1fr 3fr 1fr;
  gap: 0.2rem;
  text-align: center;
}

header {
  background: url('img/racker.jpg') no-repeat center center/cover;
}

.parInfo {
  margin: 0.5rem;
}

.input {
  margin: 0 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
}